<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <!--<button class="button button-block button-calm" ng-click="login()">Login</button>-->
        <div class="row-center col-center">
            <div class="col col-60 item-image ">
                <a class="button button-clear" ng-click="login()">
                    <img src="img/login/kr/kakao_account_login_btn_large_wide.png" style="width: 300px; height: 48px;">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
